input[type="email"]{
    display: block;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}
.middle1 input:focus,.middle1 input:active{
    transition: ease-in 0.3s;
    border-bottom: 2px solid #1c87c9;
}
.middle1, .middle2{
    display: flex;
    flex-direction: column;
}
textarea{
    resize: none;
}
.btnss{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn1{
    margin-top: 20px;
    margin-bottom: -5px;
    border: 0;
    font-size: 17px;
    border-radius: 50px;
    background-color: rgb(47, 173, 47);
    display: block;
    width: 30%;
    padding: 10px 10px;
}
.btn1:hover{
    cursor: pointer;
}

